<div class="quiz-container">


  <h5 class="question-number" >  {{ gameService.totalQuestions }} / {{ currentQuestionNumber }} السؤال</h5>
  <!-- Lifelines at the top -->
  <div class="lifelines">
    <button class="lifeline-button" [disabled]="gameService.lifelinesUsed.phoneFriend" (click)="usePhoneFriend()">
      📞 صديقة
    </button>
    <button class="lifeline-button" [disabled]="gameService.lifelinesUsed.fiftyFifty" (click)="useFiftyFifty()">
      🧩 50:50
    </button>
    <button class="lifeline-button" [disabled]="gameService.lifelinesUsed.audiencePoll" (click)="useAudiencePoll()">
      👥 جمهور
    </button>
  </div>


  <!-- Pass [filte redOptions]="filteredOptions" for 50/50 -->
  <app-question
  [question]="gameService.getCurrentQuestion()"
  [filteredOptions]="filteredOptions"
  [correctIndex]="correctIndex"
  [selectedIndex]="selectedIndex"
  [pendingCheck]="pendingCheck"
  [showResult]="showResult"
  [correctAnswerSelected]="correctAnswerSelected"

  (answerSelected)="onAnswerSelected($event)"
></app-question>

  <div *ngIf="isGameOver" class="game-over-screen">
    <h2>Game Over!</h2>
    <p>You got {{ totalCorrect }} out of {{ gameService.totalQuestions }}!</p>
    <button class="restart-button" (click)="restart()">Restart</button>
  </div>

  <app-popup
    [visible]="showPopup"
    [title]="popupTitle"
    [content]="popupContent"
    [pollData]="pollData"
    (closePopup)="closePopup()"
  ></app-popup>
</div>
